@font-face {
    font-family: "inter";
    src: 
        url("./assets/fonts/Inter-VariableFont_slnt-wght.ttf")
            format("truetype supports variations"),
        url("./assets/fonts/Inter-VariableFont_slnt-wght.ttf")
            format("truetype-variations");
    font-weight: 100 1000;
}

@font-face {
    font-family: "inter-regular";
    src: url(/assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
    font-family: "inter-semibold";
    src: url(/assets/fonts/static/Inter-SemiBold.ttf);
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: "inter";
    background-color: #F5F5F5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.top-hero-container {
    width: 100vw;
    height: 100vh;
}
.hero-image-and-overlay-container,
.top-hero-container-for-overlay{
    position: relative;
    height: 100%;
    width: 100%;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.48);
    width: 100%;
    height: 100%;
}

.icon-and-text-container {
    position: absolute;
    top: 43.13%;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.brand-icon-and-brand-name-container {
    display: flex;
    gap: 8px;
    align-items: center;
}
.brand-icon {
    width: 44px;
    height: 32px;
}
.brand-name {
    color: white;
    margin: 0;
    display: flex;
    font-size: 1.75rem;
    
}
.newsletter-description {
    font-family: "inter-regular";
    margin: 0;
    color: white;
    font-size: 1.5rem;
}

@keyframes double-down-arrow-icon-upAndDown-animation {
    0%, 100% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(10%);
    }
}

.double-down-arrow-icon {
    position: absolute;
    bottom: 24px;
    margin: 0 auto;
    left: 0;
    right: 0;
    animation-name: double-down-arrow-icon-upAndDown-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}



/* 
######################## form section ########################
*/

.form-page-container {
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.form-container,
.email-and-confirm-email-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.desktop-cta-text {
    font-family: "inter-semibold";
    font-size: 1.5rem;
    display: none;
}

.cta-text {
    font-family: "inter-regular";
    font-size: 2.5rem;
    font-weight: 100px;
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.input-label {
    font-family: "inter-regular";
    font-size: 1.5rem;
}

.input {
    max-width: 56.41vw;
    min-height: 2.25rem;
    border: 0.50px #B9B9B9 solid;
    background: #F2F2F2;
}

.input:valid {
    border-color: green;
}

.input:invalid {
    border-color: red;
}

.checkbox-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 8px;
    max-width: min(56.41vw ,223px);
}

#checkbox {
    min-width: 32px;
    height: 32px;
}

.checkbox-label {
    font-size: 0.75rem;
    font-family: "inter-regular";
}

.submit-btn {
    background: #151515;
    max-width: 56.41vw;
    height: 4rem;
    color: white;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

.submit-btn:hover,
#checkbox:hover {
    cursor: pointer;
}


@media (min-width: 1024px) {
    body {
        display: flex;
    }

    .top-hero-container {
        max-width: 30vw;
    }

    .double-down-arrow-icon {
        display: none;
    }

    .form-page-container,
    .form-container {
        align-items: flex-start;
    }
    .form-page-container {
        padding-left: min(7.7vw, 98px);
    }

    .desktop-cta-text {
        display: inline;
        max-width: 692px;
    }

    .desktop-cta-text.first-text {
        display: block;
    }

    .email-and-confirm-email-container {
        flex-direction: row;
    }

    .submit-btn {
        width: 227px;
    }
}

/* 
TODO:

- then desktop design

*/

