@font-face {
    font-family: "inter";
    src: 
        url("/assets/fonts/Inter-VariableFont_slnt-wght.ttf")
            format("truetype supports variations"),
        url("/assets/fonts/Inter-VariableFont_slnt-wght.ttf")
            format("truetype-variations");
    font-weight: 100 1000;
}

@font-face {
    font-family: "inter-regular";
    src: url(/assets/fonts/static/Inter-Regular.ttf);
}


body {
    font-family: "inter";
    background-color: rgb(75, 61, 61);
}

h1 {
    margin: 0;
}

.top-hero-container {
    width: 100vw;
    height: 100vh;
}
.hero-image-and-overlay-container,
.top-hero-container-for-overlay{
    position: relative;
    height: 100%;
    width: 100%;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.48);
    width: 100%;
    height: 100%;
}

.icon-and-text-container {
    position: absolute;
    top: 43.13%;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.brand-icon-and-brand-name-container {
    display: flex;
    gap: 8px;
    align-items: center;
}
.brand-icon {
    width: 44px;
    height: 32px;
}
.brand-name {
    color: white;
    margin: 0;
    display: flex;
    font-size: 1.75rem;
    
}
.newsletter-description {
    margin: 0;
    color: white;
    font-size: 1.5rem;
}

@keyframes double-down-arrow-icon-upAndDown-animation {
    0%, 100% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(10%);
    }
}


.double-down-arrow-icon {
    position: absolute;
    bottom: 24px;
    margin: 0 auto;
    left: 0;
    right: 0;
    animation-name: double-down-arrow-icon-upAndDown-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}



/* 
######################## form section ########################
*/

.form-page-container {
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.form-container,
.email-and-confirm-email-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cta-text {
    font-family: "inter-regular";
    font-size: 2.5rem;
    font-weight: 100px;
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.input-label {
    font-family: "inter-regular";
    font-size: 1.5rem;
}

.input {
    max-width: 56.41vw;
    min-height: 2.25rem;
}

.checkbox-container {
    flex-direction: row-reverse;
}

/*
double down arrow icon when clicked 
goes to sign up page, make sure the page is 100%vh and vw
*/

/* 
TODO:
- form section
    - input, style, follow odin project guidelines
      such as when it is valid or not, show certain style
    - checkbox style
    - button style
    - 

- mobile design first
- then desktop design

*/

