@font-face {
    font-family: "norse-bold";
    src: url(./assets/fonts/Norse-Bold.otf);
}
@font-face {
    font-family: "inter-semibold";
    src: url(./assets/fonts/static/Inter-SemiBold.ttf);
}
@font-face {
    font-family: "inter-bold";
    src: url(./assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
    font-family: "inter-regular";
    src: url(./assets/fonts/static/Inter-Regular.ttf);
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/************************* hero section **************************88*/


.hero-section-container {
    width: 100vw;
    
}


.hero-section-overlay-container,
.hero-image {
    width: 100%;
    height: 100%;
}

.hero-image {
    object-fit: cover;
    height: 100vh;
}

.icon-and-text-overlay-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16.26%;
    width: 100%;
    background: rgba(0, 0, 0, 0.48);
}

.odin-icon {
    max-width: 6.5rem;
    max-height: 9rem;
}

.hero-odin-logo-text {
    font-family: "norse-bold";
    color: white;
    font-size: 7rem;
}



/************************* form section **************************88*/
.form-section-container {
    width: 100vw;
}

.cta-text {
    font-size: 1.5rem;
    font-family: "inter-semibold";
    text-align: center;
}

.cta-first-text {
    margin: 0 1rem;
    margin-top: 4.9%;
    margin-bottom: 1.25rem;
}

.cta-second-text {
    margin-bottom: 1.25rem;
}

.cta-third-text {
    margin-bottom: 1.5rem;
}

.form-container {
    padding-bottom: 3rem;
}

.upper-form-container {
    background: #FAFAFA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 1.75rem;
}

#odin-form,
.input-container {
    display: flex;
    flex-direction: column;
}

#odin-form {
    justify-content: center;
    align-items: center;
}

.input-container {
    gap: 4px;
    margin-bottom: 8px;
}

.input-label {
    font-family: "inter-regular";
    font-size: 1rem;
    text-align: center;
}

.input {
    max-width: 15rem;
    min-height: 2rem;
    border: 1px solid #B9B9B9; ;
}


/* 
error class for password when it is not the same
as confirm password
*/
.error,
input:invalid {
    border-color: red;
}

.lower-form-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
    align-items: center;
}

.submit-btn {
    font-family: "inter-bold";
    color: #FAFAFA;
    font-display: 1.25rem;
    background: #596D48;
    text-align: center;
    padding: 0.75rem 2.5rem;
    max-width: 63%;
    border-radius: 8px;
    border: none;
}
.submit-btn:hover {
    cursor: pointer;
}

.lower-form-log-in-choice{
    color: #596D48;
    font-family: "inter-semibold";
    font-size: 1rem;
}



@media (min-width: 1024px) {
    body {
        display: flex;
    }

    .hero-section-container{
        max-width: 38vw;
    }

    .hero-section-overlay-container {
        position: relative;
        
    }

    .hero-image {
        height: 100%;
    }

    .cta-text {
        text-align: start;
        margin-left: 2.5rem;
    }

    .cta-first-text {
        margin-top: 15%;
    }

    #odin-form,
    .lower-form-container {
        align-items: flex-start;
        margin-left: 2.5rem;
    }

    .first-and-last-name-container,
    .email-and-phone-number-container,
    .password-and-confirm-password-container {
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }
}