@font-face {
    font-family: "norse-bold";
    src: url(./assets/fonts/Norse-Bold.otf);
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.hero-section-container {
    width: 100vw;
    height: 100vh;
}

.hero-section-overlay-container,
.hero-image {
    width: 100%;
    height: 100%;
}

.hero-image {
    object-fit: cover;
}

.icon-and-text-overlay-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16.26%;
    width: 100%;
    background: rgba(0, 0, 0, 0.48);
}

.odin-icon {
    max-width: 6.5rem;
    max-height: 9rem;
}

.hero-odin-logo-text {
    font-family: "norse-bold";
    color: white;
    font-size: 3.5rem;
}

